<ion-view view-title="Mis alertas">
  <ion-content class="padding" style="text-align:center;">
    <div class="row">
      <div class="col">
        <img ng-src="img/icons/ic_construction_60dp.png" class="fullscreen-image" style="height:80px;margin-top:40%;"/>
      </div>
    </div>
    <span class="message-prox">Próximamente</span>
  </ion-content>
</ion-view>
