<ion-view view-title="{{titleHome}}" class="center content-page" ng-controller="AnalyticsController">
    <ion-content class="content-default">
        <div class="map-container-routes" data-tap-disabled="true">
            <div class="map" id="map"></div>
        </div>

        <input type="hidden" ng-model="titleHome" ng-value="'Inicio'">

        <script id="search.html" type="text/ng-template">
            <ion-modal-view>
                <ion-content>
                    <ion-list>
                        <ion-item ng-repeat="route in routes">
                            {{route.nom_ruta}}
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-modal-view>
        </script>

        <script id="routesClose.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar class="bar-red">
                    <h1 class="title" style="color:#FFF;text-algin-center">Rutas cercanas</h1>
                    <div class="buttons">
                        <button class="button button-clear" ng-click="closeModalRoutesShared($event)"><i class="ion ion-chevron-down" style="color:#FFF"></i></button>
                    </div>
                </ion-header-bar>
                <ion-content>
                    <ion-list>
                        <ion-item class="item item-avatar" ng-repeat="route in routesClose track by $index" ng-click="sharedRoutes(route)" href="javascript:void()">
                            <img ng-src="{{getImageStop(route.url)}}">
                            <h2>{{route.nom_ruta}}</h2>
                            <p>{{route.calle_paradero}}</p>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-modal-view>
        </script>


    </ion-content>
</ion-view>