<ion-view view-title="GoBus" class="left content-page" controller="AnalyticsController">
    <ion-nav-bar class="bar-red">
    </ion-nav-bar>
    <ion-content class="padding content-default">
        <div class="row image-content-banner" style="text-align:center;">
            <div class="col">
                <img ng-src="img/icons/ic_logo_gubus_full.png" class="fullscreen-image login-image-effect slideLeft" />
            </div>
        </div>
        <div class="list list-inset container-login">
            <label class="item item-input item-clear">
          <i class="icon icon-custom custom icon-email placeholder-icon icon-login"></i>
          <input type="text" class="input-clear" placeholder="Correo electrónico" ng-model="user.email">
        </label>
            <label class="item item-input item-clear">
          <i class="icon icon-custom icon-key placeholder-icon icon-login"></i>
          <input type="password" class="input-clear" placeholder="Contraseña" ng-model="user.password">
        </label>
        </div>
        <div class="padding container-buttons">
            <button class="button-non-border button button-block button-assertive" ng-click="login(user)">Iniciar sesión</button>
            <button class="button button-block button-social-facebook" ng-click="loginFacebook()">
          <span>
            Iniciar con
            <ion-icon class="icon icon-facebook placeholder-icon icon-login"></ion-icon>
          </span>
                        <button class="button registerButton button-full ink"  ng-click="reset()"; style="background-color: transparent; line-height: 5px; min-height: 5px;border: none;padding-top: 10px;">Olvidé mi contraseña</button>

        </div>

        <div class="padding">
            <button class="button-non-border button button-block button-register" ng-click="register();" style="padding:0px; color:#000;">Regístrate</button>
        </div>
    </ion-content>
</ion-view>