<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-red">
            <ion-nav-back-button class="back-button-header" ng-click="backStory()"></ion-nav-back-button>
            <ion-nav-buttons side="left" class="btn-menu">
                <button menu-toggle="left" ng-show="showMenuButton" class="button button-menu button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button menu-toggle="right" ng-show="showMenuButton" class="button button-menu button-icon icon ion-ios-search-strong"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-red">
            <h1 class="title button-menu">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="profile">
                    <div class="item-avatar item-profile">
                        <img class="image-profile" menu-close ng-src="{{image_profile}}" ng-click="editProfile()" />
                    </div>
                    <div class="item-avatar text-profile">
                        <h2 style="color:#FFF;font-size:24px;">{{userLogged.name}}</h2>
                        <h2 style="color:#FFF;font-size:18px;">{{userLogged.email}}</h2>

                    </div>
                </ion-item>
                <ion-item class="item-icon-left menu-item" menu-close href="#/app/home">
                    <i class="icon ion-ios-home-outline"></i>Inicio
                </ion-item>
                <ion-item class="item-icon-left menu-item" href="javascript:void();" menu-close ng-click="changeState('app.zones');">
                    <i class="icon ion-android-bus"></i>Rutas por zona
                </ion-item>
                <ion-item class="item-icon-left menu-item" href="javascript:void();" menu-close ng-click="changeState('app.ranking');">
                    <i class="icon ion-android-star-half"></i>Ranking
                </ion-item>
                <!--ion-item class="item-icon-left menu-item" href="javascript:void();" menu-close ng-click="changeState('app.alerts');">
                    <i class="icon ion-android-notifications-none"></i>Mis alertas
                </ion-item-->
                <ion-item class="item-icon-left menu-item" href="javascript:void();" menu-close ng-click="changeState('app.place_interest');">
                    <i class="icon ion-android-map"></i>Lugares de interés
                </ion-item>
                <ion-item class="item-icon-left menu-item" href="javascript:void();" menu-close ng-click="closeSession()">
                    <i class="icon ion-android-exit"></i>Cerrar sesión
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right" class="filter-content" drag-content="false">
        <ion-header-bar style="padding-top:0px;" class="bar-red">
            <div class="row">
                <div class="col-75">
                    <autocomplete style="width:100%;" ng-click="searchRoutes(search.value)" ng-keyup="getSearch(search.value)" attr-placeholder="Buscar" click-activation="true" ng-model="search.value" data="destinies"></autocomplete>
                </div>
                <div class="col-25 text-center">
                    <button ng-click="searchRoutes(search.value)" ng-disabled="search.value == undefined" class="button button-icon icon ion-search"></button>
                </div>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="row routes-filter">
                <div class="col">
                    <ion-list class="list-routes-filter list-inset">
                        <ion-item menu-close class="item-avatar" href="javascript:void(0)" ng-repeat="route in routes track by $index" ng-click="viewRoute(route)">
                            <img ng-src="{{getImageStop(route.url)}}">
                            <h2>{{route.nom_ruta}}</h2>
                            <p>{{route.calle_paradero}}</p>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>