<ion-view view-title="Rutas cercanas" class="left">
    <ion-content class="padding content-page">
        <div class="map-container-routes" data-tap-disabled="true">
            <div class="map" id="map"></div>
        </div>

        <div class="action-routes" data-tap-disabled="true">
            <button type="button" name="button" class="button button-clear button-action"><i class="ion ion-android-bus" style="color:#000;font-size: xx-large;"></i></button>
            <button type="button" name="button" class="button button-clear button-action"><i class="ion ion-android-walk" style="color:#000;font-size: xx-large;"></i></button>
            <button type="button" name="button" class="button button-clear button-action"><i class="ion ion-android-hangout" style="color:#000;font-size: xx-large;"></i></button>
            <button type="button" name="button" class="button button-clear button-action"><i class="ion ion-ios-more" style="color:#000;font-size: xx-large;"></i></button>
        </div>

        <!--
    <div class="item range">
      100
      <input type="range" min="100" max="500" value="100" ng-model="maps.range" ng-change="rangeSearch()" on-release="searchRoutes()">
      500
    </div>

    <div class="padding">
      <div class="text-center">
        <label>{{maps.range}}&nbsp;mts.</label>
      </div>
    </div>
    <h2>Rutas</h2>
    <div class="padding">
      <div id="rutas" class="row">
        <div class="col">
          <ul id="rutas-list">
          </ul>
        </div>
      </div>
    </div>-->
    </ion-content>
</ion-view>