<ion-view view-title="Lugares de interés">
  <ion-content class="padding" overflow-scroll="false" has-bouncing="true" style="text-align:center;">
    <div class="row">
      <div class="col">
        <img ng-src="img/publicidad/anunciate.png" class="fullscreen-image promoGrande"/>
      </div>
    </div>
    <!--div class="row">
      <div class="col">
        <img ng-src="img/publicidad/saboreate2x1.png" class="fullscreen-image promoGrande"/>
      </div>
    </div-->
    <!--div class="row">
      <div class="col">
        <img ng-src="img/icons/saboreateChicoR.png" class="fullscreen-image promoChico"/>
      </div>
      <div class="col">
        <img ng-src="img/icons/saboreateChicoR.png" class="fullscreen-image promoChico"/>
      </div>
    </div-->
    <div class="row">
      <div class="col">
        <img ng-src="img/publicidad/saboreate10.png" class="fullscreen-image promoGrande"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img ng-src="img/publicidad/hcuantico.png" class="fullscreen-image promoGrande"/>
      </div>
    </div>
    
    <!--span class="message-prox">Promocions</span-->
  </ion-content>
</ion-view>