<ion-view view-title="Perfil" class="center content-page">
    <ion-content class="content-default">
        <div class="row">
            <div class="circular-profile">
                <img menu-close ng-src="{{img_profile}}" class="fullscreen-image" />
            </div>
        </div>

        <div class="row container-button-edit-image-profile">
            <div class="col-33 col-offset-33">
                <button ng-click="changeImage()" class="button-small button-calm button-block button edit-image-profile"><i class="ion ion-edit"></i>&nbsp;Cambiar imagen</button>
            </div>
        </div>
        <div class="row">
            <h4 style="width:100%;text-align:center;"><i class="ion ion-android-walk"></i>&nbsp;{{distance}}<small>&nbsp;km</small> Recorridos</h3>
        </div>

        <div class="list list-inset form-edit-profile">
            <label class="item item-input">
                <i class="ion ion-person placeholder-icon"></i>
                <input type="text" placeholder="Nombre" ng-model="user.name">
            </label>

            <label class="item item-input" ng-show="user.change_password">
                <i class="ion ion-lock-combination placeholder-icon"></i>
                <input type="password" placeholder="Contraseña actual" ng-model="user.current_password">
            </label>

            <label class="item item-input" ng-show="user.change_password">
                <i class="ion ion-lock-combination placeholder-icon"></i>
                <input type="password" placeholder="Contraseña" ng-model="user.password">
            </label>

            <label class="item item-input" ng-show="user.change_password">
                <i class="ion ion-lock-combination placeholder-icon"></i>
                <input type="password" placeholder="Repetir contraseña" ng-model="user.match_password" >
            </label>
            <ion-checkbox ng-model="user.change_password" ng-change="changePassword()">Cambiar contraseña</ion-checkbox>
        </div>

        <div class="row">
            <div class="col-33 col-offset-33">
                <button ng-click="updateUser()" class="button-small button-block button button-balanced">Guardar</button>
            </div>
        </div>
    </ion-content>
</ion-view>