<ion-view view-title="Ranking">
    <ion-content overflow-scroll="false" scroll="false" class="padding content-ranking content-default" style="text-align:center;">
        <div class="row ranking">
            <div class="col">
                <ion-list class="list-inset">
                    <ion-item class="item-ranking item-avatar" menu-close href="javascript:void(0)" ng-repeat="ranking in rankings track by $index">
                        <img ng-src="img/icons/ranking/{{$index + 1}}.png">
                        <h2 ng-class="[$index <= 2 ? 'bold-element' : '']">{{ranking.name}}</h2>
                        <p>{{ranking.km}} km recorridos</p>
                    </ion-item>
                </ion-list>
            </div>
        </div>

    </ion-content>
    <div class="row position">
        <div class="col current-position">

            <ion-list class="list-inset">
                <ion-item class="item-avatar item-ranking item-current-position" menu-close href="javascript:void(0)">
                    <img ng-src="img/icons/ic_circle_green.png">
                    <small ng-class="['currentPosition', getClassByposition(rankingUser.row_number) ]">{{rankingUser.row_number}}</small>
                    <h2>{{rankingUser.name}}</h2>
                    <p>{{rankingUser.km}} km recorridos</p>
                </ion-item>
            </ion-list>
        </div>
    </div>

    <div class="circular">
        <img ng-src="{{img_profile}}" class="fullscreen-image" />
    </div>
</ion-view>