<ion-view class="left content-page" enable-menu-with-back-views="true">

    <ion-nav-bar class="bar-red">
        <ion-nav-buttons side="left">
            <button class="button button-menu button-icon ion ion-android-arrow-back" ng-click="returnLogin();"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    <ion-content class="padding content-default">
        <div class="row image-content-banner" style="text-align:center;">
            <div class="col">
                <img ng-src="img/icons/ic_logo_gubus_full.png" class="fullscreen-image login-image-effect" />
            </div>
        </div>
        <div class="list list-inset">
            <label class="item item-input item-clear">
          <input type="text" class="input-clear"  placeholder="Nombre" name="name" ng-model="user.name" required>
        </label>
            <label class="item item-input item-clear">
          <input type="text" class="input-clear"  placeholder="Correo electrónico" name="email" ng-model="user.email" required>
        </label>
            <label class="item item-input item-clear">
          <input type="password" class="input-clear"  placeholder="Contraseña" name="password" ng-model="user.password" required>
        </label>
            <label class="item item-input item-clear" style="border-bottom:0px!important;">
          <input type="password" class="input-clear"  placeholder="Confirmar Contraseña" name="confirm_password" ng-model="user.confirm_password" required>
        </label>
        </div>

        <div class="row">
            <input type="checkbox" id="terms" name="terms" ng-model="user.terms" required="">
            <label class="checkbox_" for="terms"><i></i>Acepto los </label>
            <a ng-click="openTermsConditions();" href="javascript:void(0);" style="text-decoration:none;font-size:15px;margin-top:1%;">&nbsp;términos y condiciones</label></a>
        </div>

        <script id="terms-condition.html" type="text/ng-template">
            <p><strong>Terminos y condiciones</strong></p>
            <small>Concepto.- GoBus es una Aplicación Móvil que permite a los usuarios reunir y actualizar mapas para reflejar las rutas del transporte, sus tiempos de arribo, así como monitorear la unidad de transporte de su conveniencia mediante una interfaz sencilla y amigable recibiendo de la aplicación tiempos estimados de arribo de la unidad de su preferencia así como las rutas ideales para transportarse entre diversos puntos de la ciudad, tiempos de espera, paraderos, puntos de interés por la ciudad, fotos de los camiones creando alarmas cuando su unidad de transporte esperada se encuentre próximo al paradero consultado.
Territorio.- La Aplicación Móvil GoBus tiene como territorio primario de operación la Ciudad de Mérida, Yucatán, México.
Aceptación de Términos y Condiciones.- Los presentes Términos y Condiciones de Uso y Privacidad, son aplicables al Usuario por el simple uso o acceso a la Aplicación Móvil GoBus, por lo que se entiende que al usar, acceder, descargar, instalar, obtener o brindar información desde y hacia esta Aplicación Móvil, se considerará que el Usuario ha leído y aceptado estos Términos y Condiciones (incluyendo nuestro Aviso de Privacidad y Copyright).
El Usuario debe suspender el uso de esta Aplicación Móvil inmediatamente si no están de acuerdo o no aceptan todos estos Términos y Condiciones. INOVAP se reserva el derecho de eliminar o prohibir a cualquier Usuario la utilización de esta Aplicación Móvil a su sola discreción.
Uso de la Aplicación Móvil.-  GoBus le otorga al Usuario una licencia gratuita, no exclusiva, limitada en el tiempo, no transferible, no sublicenciable y revocable para utilizar la Aplicación Móvil (incluyendo los servicios ofrecidos) para fines no comerciales. Se entiende como Usuario a aquella persona que realiza el acceso mediante equipo de cómputo y/o de comunicación, conviene en no utilizar dispositivos, software, o cualquier otro medio tendiente a interferir tanto en las actividades y/u operaciones de la aplicación móvil o en las bases de datos y/o información que se contenga en el mismo.
Información vial prevaleciente. La información proporcionada por la Aplicación Móvil no pretende sustituir la información proporcionada en la carretera, tales como dirección de desplazamiento, restricción, por motivos de tiempo, restricciones de carril, bloqueos de carreteras, señales de tráfico, semáforos, instrucciones de la policía, etc. por lo que GoBus insta al Usuario a utilizar de manera prudente la Aplicación Móvil.
Restricciones de uso.- Las siguientes conductas están totalmente prohibidas al usar la Aplicación Móvil.  Su incumplimiento puede motivar a la terminación del acceso a la Aplicación Móvil y también puede exponerle a responsabilidad civil y / o penal: Copiar, modificar, adaptar, traducir, realizar ingeniería inversa, descompilar o desensamblar cualquier parte del contenido incluido en la Aplicación Móvil, o de cualquier manera o mostrar públicamente, ejecutar, o distribuirlos;  hacer cualquier uso del Contenido de la Aplicación Móvil en cualquier otro sitio web o entorno informático en red para cualquier fin, o reproducir o copiar el contenido sin el consentimiento previo por escrito de GoBus; interferir o molestar mediante el uso de la Aplicación Móvil a tercero o el derecho de otro usuario a la privacidad u otros derechos, incluyendo los derechos de autor y cualquier otro derecho de propiedad intelectual de terceros, o recoger o recopilar información personal sobre los visitantes o usuarios de la Aplicación Móvil sin manifestar su consentimiento, incluyendo el uso de spyderbots, la búsqueda del sitio o aplicación de recuperación, u otro dispositivo manual o automático o proceso para recuperar, indexar, o los datos de las bases;  difamar, abusar, acosar, acechar, amenazar o de alguna forma violar los derechos legales de terceros, incluyendo los derechos de autor de los demás, y otros derechos de propiedad intelectual;  transmitir o hacer disponible en relación con la Aplicación Móvil cualquier virus, gusano, caballo de Troya, software espía, o cualquier otro código informático, archivo, malware o programa  que pueda o tenga la intención de dañar de otro modo o piratear el funcionamiento de cualquier equipo de hardware, software, o de telecomunicaciones o cualquier otro real o potencialmente dañino, perjudicial o invasivo o código de componente;  interferir o interrumpir el funcionamiento de la Aplicación Móvil o los servidores o redes que alojan la Aplicación Móvil, o incumplir los requisitos, procedimientos, políticas o reglamentos de tales servidores o redes;  vender, licenciar o explotar con fines comerciales cualquier uso o acceso a los Contenidos y/o a la Aplicación Móvil;  o duplicar cualquier parte de la Aplicación Móvil sin la autorización previa y expresa por escrito de GoBus; crear una base de datos mediante la descarga y el almacenamiento de todo o cualquier parte del Contenido de la Aplicación Móvil de manera sistemática;  reenviar los datos generados por la Aplicación Móvil sin el consentimiento previo por escrito de GoBus; utilizar la Aplicación Móvil para algún propósito ilegal, inmoral o no autorizado o ligado a actos terroristas;  utilizar la Aplicación Móvil con fines no personales o comerciales sin el expreso consentimiento de GoBus por escrito; o infringir o violar cualquiera de estos términos.
Contenido.- Todo texto, información, datos, fotografías, gráficos, código html, software informático, código fuente y código objeto, muestras de audio y video, marcas y logotipos, y similares (en adelante el "Contenido") que aparezcan o formen parte de la aplicación para dispositivos móviles GoBus, servicios de dispositivos móviles o aplicaciones de dispositivos móviles (en conjunto "Aplicación Móvil") pertenecen INOVAP Tecnología e Innovación de Sistemas  S.A.P.I. de C.V. en adelante “INOVAP” o sus empresas afiliadas, licenciatarios o proveedores, salvo que quede expresamente especificado lo contrario. Los Usuarios (como se definen en el presente documento) solo pueden utilizar el Contenido en un dispositivo móvil (por ejemplo, Apple iPhone o iPad, dispositivo Android) que posean o controlen, y solamente por motivos personales, internos y sin fines comerciales. Derechos de autor y Marcas registradas.- Todos los contenidos de la Aplicación Móvil así como de su página web, redes sociales y publicidad (Incluyendo de manera enumerativa mas no limitativa texto, logotipos, contenido, fotografías, audio, botones, nombres comerciales y vídeo así la expresión original del software y/o programa de cómputo en cualquier forma, lenguaje o código, conjunto de instrucciones, secuencia, estructura y organización, extendiéndose tanto a los programas operativos como a los programas aplicativos, ya sea en forma de código fuente o de código objeto) están sujetos a derechos de propiedad que concede la Ley Federal de Derechos de Autor y demás Leyes relativas Internacionales y son propiedad exclusiva de la empresa INOVAP Tecnología e Innovación de Sistemas  S.A.P.I. de C.V. Para más información al respecto ponemos a disposición del Usuario el Copyright de GoBus.
Actualización y modificación del contenido de los Términos y Condiciones.- INOVAP y GoBus se reservan el derecho de modificar discrecionalmente el contenido de los presentes términos y condiciones en cualquier momento, sin necesidad de previo aviso. 
Material compartido mediante la aplicación.- En caso de que un Usuario envíe imágenes digitales u otro contenido, incluidas todas las fotografías, ilustraciones, comentarios, mensajes, gráficos y texto (en forma conjunta, “Materiales”) a través de la Aplicación Móvil, éstos tendrán que ser Materiales de los cuales posea todos los derechos de propiedad intelectual. Dicho de otro modo, si un Usuario envía una imagen digital a otro Usuario o la comparte con  INOVAP o GoBus, el Usuario debe poseer todos los derechos sobre dicha imagen o el Usuario debe tener la autorización de la persona propietaria de tales derechos. Los menores de edad no pueden enviar Materiales a través de la Aplicación Móvil. Asimismo, un Usuario no puede enviar ninguna información susceptible de identificación personal sobre una persona menor de 18 años de edad.
Actualizaciones de software.- La Aplicación Móvil fue creada para la versión más reciente disponible en el mercado de los sistemas operativos de los dispositivos móviles de los Usuarios y pueden surgir inconvenientes de compatibilidad cuando se utilicen versiones anteriores. La cobertura de la red inalámbrica, GPS y la velocidad de la red de Wi-Fi varían según el proveedor y la ubicación geográfica. INOVAP y GoBus no se responsabilizan por las limitaciones y/o fallas en el funcionamiento de ningún servicio inalámbrico o Wi-FI que se use para acceder a esta Aplicación Móvil ni por la seguridad de los servicios inalámbricos o Wi-Fi.  Asimismo, INOVAP no se responsabiliza de los cargos o tarifas por uso de redes de datos, que son exclusiva responsabilidad del Usuario.
Avisos de Actualización de software.- GoBus puede solicitar a los Usuarios que actualicen su versión de la Aplicación Móvil en cualquier momento. Aunque se harán todos los esfuerzos por conservar las configuraciones y preferencias personales de los Usuarios, seguirá existiendo la posibilidad de que las mismas se pierdan.
Operación de redes inalámbricas.- El uso de esta Aplicación Móvil implica la transmisión electrónica de información a través de las redes del proveedor de servicio inalámbrico. En vista de que GoBus no opera ni controla las redes inalámbricas utilizadas para acceder a la Aplicación Móvil, INOVAP no es responsable de la privacidad o seguridad de las transmisiones inalámbricas de datos. Los Usuarios deberán utilizar proveedores de servicios acreditados y verificar junto a su proveedor de servicios inalámbricos la información relativa a sus prácticas en materia de privacidad y seguridad.
La Conexión a Internet para utilizar el servicio, y todos los cargos relacionados (por ejemplo, gastos de datos móviles) en los que incurra por el uso de la Aplicación Móvil son responsabilidad exclusiva del Usuario. Transmitir y recibir actualizaciones en tiempo real desde y hacia la Aplicación Móvil, requiere de una línea (por ejemplo, Wi-Fi, 3G, 4G) de conexión entre el dispositivo móvil y la Internet, así como la activación del GPS y/o APS integrado en el dispositivo móvil del Usuario. Los gastos de dicha conexión serán los exigidos por el acuerdo entre el usuario y el proveedor de servicios de comunicación (como su empresa de telefonía celular), y de acuerdo con sus términos aplicables de pago.
Uso de la aplicación tiempo real. La información proporcionada por la Aplicación Móvil se origina a partir de otros usuarios que utilizan el servicio prestado por la misma. Dicha información es intrínsecamente fluctuante y puede ser inexacta, incompleta o no actualizada.  GoBus no proporciona ninguna garantía de credibilidad o fiabilidad de dicha información.
Servicio basado en la localización. Algunas características del servicio hacen uso de ubicación detallada y la información de la ruta, por ejemplo en forma de señales GPS y otra información enviada por el dispositivo móvil en el que está instalada y activada la Aplicación Móvil. Estas características no se pueden proporcionar sin la utilización de esta tecnología. Se le recomienda al Usuario que tenga en cuenta, como se describe en detalle en la Política de privacidad, el uso y manejo que GoBus le da a su información personal. GoBus utiliza su ubicación e información de ruta para crear un historial de ubicaciones detallada de todos sus viajes realizados al utilizar la Aplicación Móvil. GoBus utiliza esta historia para ofrecer sus servicios de localización de rutas de transporte y de los camiones que prestan el servicio, así como para mejorar la calidad del servicio que ofrece a todos sus usuarios y mejorar la exactitud de sus datos cartográficos y de navegación. Esta historia está asociada con su cuenta de usuario y contraseña. Esta historia es retenida por GoBus por un período limitado de tiempo y de acuerdo con la Política de Privacidad.  
Prestadores de Servicio de Transporte Público y Rutas.- GoBus no se hace responsable del servicio prestado por los operadores de transporte público, de la condición de las unidades de transporte, cambios de vía en la ruta cotidiana del transporte público ni de cambio en sus horarios de conexión y ruta que pueda causar que el Usuario tenga algún atraso en su transportación cotidiana. GoBus no tiene relación alguna con los concesionarios de transporte público y bajo ningún motivo o forma responde por el estado en el que se pueda encontrar alguna unidad de transporte o bien del comportamiento o educación de los prestadores de servicio. De igual forma no se responsabiliza por pérdida, extravío o daño que pueda surgir respecto de sus bienes o el daño hacia su persona que pueda sufrir el Usuario durante el uso del transporte público.
Las rutas mostradas en el mapa precargado de GoBus son estimadas en relación a la observación cotidiana de los horarios y frecuencias de pase de las unidades de transporte público por lo que no garantizar que no puedan sufrir cambio alguno.
Uso de la función  “comentarios” incluida en la Aplicación Móvil.- Los comentarios y quejas vertidos mediante el uso de la Aplicación Móvil tienen un fin informativo entre los Usuarios y son responsabilidad única y exclusiva de quien los exterioriza y no se garantiza que sean entregados o enterados a las Autoridades Responsables de las Concesiones de prestación desde Transporte Público, por lo que INOVAP y GoBus no se responsabilizan en caso de que no se dé debido cumplimiento a las peticiones realizadas a dichas Autoridades por medio de la Aplicación Móvil, por lo que se sugiere al Usuario que en caso de afectación o disgusto por parte de alguna unidad de transporte público y/o operador y/o ruta de transporte se comunique directamente con las Autoridades Responsables. En el caso del Estado de Yucatán usted puede comunicarse al número 072 y/o (999) 919 03 66, (999) 919 03 67, (999) 919 03 68 a la Dirección de Transporte del Estado.
Anuncios, publicidad y patrocinios.- INOVAP y GoBus no recomiendan, patrocinan ni promocionan negocios, servicios o productos de terceros, a excepción de manifestaciones de recomendación o patrocinio que INOVAP y GoBus realicen de manera expresa, mediante la Aplicación Móvil. 
Durante el uso de la Aplicación Móvil pueden aparecer de vez en cuando anuncios publicitarios o información promocional considerada de interés según nuestras estadísticas de uso o bien su geo localización.  GoBus no se hace responsable de la información vertida en dichos anuncios y para fines de estos términos y condiciones deberán de ser considerados responsabilidad exclusiva del promotor.
De igual forma GoBus no se hace responsable de incumplimientos en obligaciones o falsedades en las que puedan incurrir los anunciantes mediantes sus publicaciones en la aplicación móvil, por lo que se recomienda al Usuario a asistir ante el responsable primario (el anunciante) para presentar la queja correspondiente o bien ante la Autoridad conducente.
Proveedores y terceros involucrados.- Los prestadores de servicio de telefonía móvil de los Usuarios, los fabricantes y vendedores de los dispositivos móviles en los que el Usuario descargue, instale, utilice o acceda a la Aplicación Móvil, el creador del sistema operativo para los dispositivos móviles de los Usuarios y el operador de cualquier tienda de aplicaciones o servicios similares mediante los cuales los usuarios obtengan la Aplicación Móvil, si existieran, (en conjunto, los “Terceros”) no son parte de estos Términos y Condiciones y no son propietarios ni responsables de la Aplicación Móvil. Los Terceros no brindan ninguna garantía en relación con la Aplicación Móvil. No son responsables del mantenimiento u otros servicios de soporte técnico de la Aplicación Móvil y no serán responsables ante ningún otro reclamo, pérdidas, imputación de responsabilidades, daños y perjuicios, costos o gastos vinculados con la Aplicación Móvil.
Los Usuarios reconocen y aceptan que los Terceros y sus empresas subsidiarias son terceros beneficiarios de estos Términos y Condiciones y que ellos tienen el derecho (y se asumirá que han aceptado tal derecho) de ejercer estos Términos y Condiciones ante los usuarios como terceros beneficiarios.
Responsabilidad limitada.- Los Terceros, INOVAP  y sus empresas matrices y afiliadas, junto con los respectivos directivos, directores, personal, empleados y representantes (en conjunto referidos como las “partes exentas”) no serán responsables ni estarán sujetos a acciones legales, y por la presente el usuario renuncia a todo reclamo, demanda, imputación de responsabilidades, causa legal, querella, reclamación de daños y perjuicios, por razón de, entre otros, daños directos, indirectos, accidentales, incidentales, derivados, circunstanciales, extraordinarios, especiales o punitivos de cualquier naturaleza con respecto a esta Aplicación Móvil (incluyendo los productos, servicios y contenidos de las partes exentas), aun cuando las partes exentas hubieran sido advertidas de la posibilidad de dichos daños. El único recurso de los usuarios ante tales reclamos, demandas, imputación de responsabilidades, causas legales, querellas o reclamos de daños y perjuicios es poner fin al uso de esta aplicación móvil.
Exclusión de garantía.- Las partes exentas no hacen manifestación alguna en cuanto a la funcionalidad y uso del contenido de esta aplicación móvil. El uso y navegación que haga el usuario con esta Aplicación Móvil es a riesgo exclusivo del propio usuario. Toda la información contenida en esta Aplicación Móvil es proporcionada tal como está y según está disponible, sin aseveraciones ni garantías, ya sean expresas o tácitas. Los usuarios no deben asumir que la información incluida en esta Aplicación Móvil se actualiza constantemente ni que incluye información reciente.
Esta Aplicación Móvil podrá dejar de funcionar, ser interrumpida o funcionar indebidamente de forma ocasional. Las partes exentas no tienen responsabilidad por dicho cese de funcionamiento, interrupción o funcionamiento indebido. Los usuarios quedan advertidos de que la información contenida aquí podría contener errores técnicos, inexactitudes, errores de programación, virus desconocidos y omisiones. El usuario asume todos los riesgos vinculados con el uso de esta aplicación móvil, y acepta que la compañía renuncia a toda garantía vinculada al uso de la aplicación móvil por parte del usuario.
Sin perjuicio de lo dispuesto en cualquier otra cláusula de estos términos y condiciones, INOVAP y GoBus rechazan toda manifestación o garantía, ya sea expresa o tácita, de todo tipo en referencia a esta Aplicación Móvil (incluyendo nuestros productos, servicios y contenido) incluidas, entre otras, las garantías de comerciabilidad y aptitud para un propósito en particular, de goce pacífico, no violación de los derechos de terceros y precisión. Ninguna información o asesoramiento oral o escrito dado por nosotros o nuestros representantes autorizados creará una garantía ni aumentará de ninguna forma el alcance de nuestras obligaciones tal cual se establecen en estos términos y condiciones.
Exoneración de responsabilidad.- GoBus es una aplicación que funciona en la modalidad de “crowdsourcing”, lo que significa que depende de una comunidad activa en el uso de los servicios prestados mediante la aplicación para poder mantener sus bases de datos actualizados y con información en tiempo real. Las funciones de localización disponibles en la Aplicación Móvil son provistas por terceros, por lo que GoBus no se hace responsable de la falta de información y/o actualización de las rutas de transporte y/o mapas contenidos en la aplicación. El uso que haga el de esa funcionalidad está sujeto a los términos y condiciones del tercero (y a sus actualizaciones ocasionales). Los usuarios deben utilizar su propio juicio sobre la adecuación e idoneidad de la información. Toda la información de localización es brindada por completo en las condiciones en que se encuentra, sin garantías de ninguna naturaleza.
 El Usuario libera de toda responsabilidad y exonera a las Partes Exentas de todo reclamo, demanda, responsabilidad civil, causa legal, querella o daños y perjuicios (incluidos los honorarios y los gastos razonables de abogados) que surjan como consecuencia del uso que dichos Usuarios hagan de la Aplicación Móvil (incluidos nuestros productos, servicios y Contenido), incluyendo, entre otros, la información, contenido o fallos de la Aplicación Móvil, o de los productos y servicios de INOVAP o de terceros. INOVAP y GoBus se reservan el derecho, por cuenta propia, de asumir la defensa y el control exclusivo de cualquier asunto sujeto a exoneración por parte del Usuario, pero el hacerlo no exime al Usuario de su obligación de exoneración.
De la validez y supervivencia.- Si cualquier cláusula de estos Términos y Condiciones resultara inválida, nula o inaplicable, las cláusulas restantes conservarán de todos modos su total validez y la cláusula inválida, nula o inaplicable será considerada como modificada de modo tal que sea válida y aplicable hasta el máximo alcance permitido por la ley.
Privacidad.- Nuestra política de privacidad en relación a cualquier información obtenida por INOVAP a través de esta Aplicación Móvil puede consultarse en la sección Política de Privacidad, donde se detallan las prácticas relacionadas con el uso de su información personal Mediante la aceptación de estas condiciones, el Usuario reconoce y acepta la recopilación, almacenamiento y uso de su información personal por parte de GoBus  sujeto a esta sección, la política de privacidad y las leyes aplicables y regulación.
Términos adicionales para dispositivos Apple.- Esta sección se aplica exclusivamente a los Usuarios que utilicen la Aplicación Móvil en un dispositivo Apple (por ejemplo, iPhone, iPad, iPod Touch) (en adelante, denominados Dispositivo Apple). INOVAP y GoBus son los únicos responsables de la Aplicación Móvil que el Usuario utiliza en su Dispositivo Apple, y los Usuarios pueden utilizar la Aplicación Móvil en su Dispositivo Apple solamente como se permite en estos Términos y Condiciones y en las “Normas de uso” establecidas en los Términos y Condiciones de la Tienda de Aplicaciones <a target="_blank"href="http://www.apple.com/legal/itunes/appstore/us/terms.html">(http://www.apple.com/legal/itunes/appstore/us/terms.html)</a>. En relación con el deslinde de responsabilidades entre INOVAP y Apple Inc., se manifiesta que: INOVAP debe atender todo reclamo vinculado con el uso o posesión por parte del Usuario o de un tercero de la Aplicación Móvil en el Dispositivo Apple del Usuario, y será responsable de atender, investigar o defender el reclamo; e INOVAP no ha renunciado efectivamente a ninguna garantía vinculada con la Aplicación Móvil en el Dispositivo Apple del Usuario, entendiéndose que INOVAP será responsable exclusivamente en relación con cualquier garantía del producto u otros reclamos, pérdidas, imputación de responsabilidades, daños y perjuicios, costos o gastos si la Aplicación Móvil no se ajusta a ninguna de las garantías. Si la Aplicación Móvil en el Dispositivo Apple del Usuario no se ajusta a ninguna de las garantías pertinentes, el Usuario puede solicitar a Apple Inc. un reembolso por la suma de la compra de la Aplicación Móvil en el Dispositivo Apple del Usuario, si la hubiera. Apple Inc. no tendrá obligaciones de garantía de ninguna otra naturaleza con respecto a la Aplicación Móvil en el Dispositivo Apple del Usuario. Apple Inc. y sus filiales son terceros exentos de estos Términos y Condiciones, y Apple Inc. y sus filiales pueden hacer valer estos Términos y Condiciones contra los Usuarios en calidad de terceros exentos de estos Términos y Condiciones.
Atención al Usuario.- Los Usuarios que tengan alguna pregunta o duda sobre los Términos y Condiciones para Aplicaciones Móviles pueden ponerse en contacto con el web master escribiendo al siguiente correo electrónico: contactoGoBus@gmail.com.
Títulos.- Los títulos de las cláusulas de los presentes términos y condiciones, son únicamente para facilitar su lectura y manejo, por lo que nunca se entenderá que definen o limitan las obligaciones a cargo de las partes contratantes.
Jurisdicción y competencia.- Las partes contratantes establecen que para el caso de controversia judicial, derivada de la interpretación y cumplimiento de alguna de las cláusulas de los presentes términos y condiciones, se someterán de una manera formal y expresa a la Jurisdicción de los Jueces y Tribunales competentes en esta ciudad de Mérida, Yucatán, México, renunciando al fuero del domicilio o vecindad que tuvieren o pudieren llegar a tener. De igual forma, establecen que la legislación aplicable será la Civil vigente en el estado de Yucatán.
</small>

            <p><strong>Aviso de privacidad</strong></p>
            <small>Con fundamento en los artículos 15 y 16 de la Ley Federal de Protección de Datos Personales en Posesión de Particulares el presente Aviso de Privacidad establece los términos y condiciones en virtud de los cuales la aplicación móvil GoBus  por medio de la persona moral denominada INOVAP Tecnología e Innovación de Sistemas  S.A.P.I. de C.V. (en adelante GoBus), con domicilio en el predio doscientos cinco de la calle ocho de la Colonia Leandro Valle de la Localidad y Municipio de Mérida, Yucatán  tratará los datos personales del Titular (también nombrado Usuario), y se declara responsable del uso que se le dé a los mismos y de su protección; y al respecto le informamos lo siguiente:
Para efectos de lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la “LFPDP”) y demás legislación aplicable,  el usuario de la aplicación móvil GoBus manifiesta que el presente Aviso le ha sido dado a conocer por el Responsable, quien asegura haber leído, entendido y acordado los términos expuestos en este Aviso, por lo que mediante el uso de la aplicación móvil GoBus otorga su consentimiento respecto del tratamiento de sus datos personales y para que el Responsable o sus empleados realicen transferencias y/o remisiones de datos personales en términos del presente Aviso.
GoBus es una aplicación que proporciona información de mapeo, navegación GPS y servicios basados ​​en compartir la información proporcionada por los usuarios mediante un interfaz amigable y con actualizaciones contantes en tiempo real a la cual se tiene acceso mediante el registro en la base de datos de GoBus o bien mediante el enlace de cuentas de Facebook o Google+ con la aplicación. 
Para su debido funcionamiento GoBus recaba cierta "información personal"  recogida automáticamente por el software o proporcionada por usted que puede ser utilizada para identificarlo y que puede incluir nombre y apellido, dirección, dirección de correo electrónico, edad, así como nombre de Usuario y Contraseña y perfil de Facebook y, en ciertas circunstancias, su ubicación y la información de la ruta.  Siempre que utilice los servicios de GoBus ésta recabará información de su ubicación detallada y la información de la ruta en la que transita, por medio del uso de señales GPS y otros datos enviados por el dispositivo móvil en el que está instalado y activado GoBus la cual utiliza para crear un historial de ubicaciones detallada de todos los viajes que ha hecho durante el uso de GoBus, así como lugares y/o rutas que frecuenta.
 Estos datos tienen por finalidad primaria su análisis para poder brindar un servicio más personalizado acorde a sus intereses así como para analizar el comportamiento del usuario en la aplicación identificándolo en la misma mediante su Registro y monitoreo en tiempo real del usuario por la ciudad utilizando su ubicación y la ruta de la información y / o historial de consulta para proporcionar servicios de navegación y para proporcionar la información y la publicidad acerca de los sitios, tiendas y otros lugares y puntos de interés de su vecindad cercana, o que creemos, en base a su historial consulta, puede encontrar interesante.
Los servicios se basan en una comunidad de usuarios que comparten información públicamente con GoBus y con otros miembros de esa comunidad.  Esta información también puede ser compartida   a través de  servicios de terceros (como las redes sociales) que interactúan con el servicio a la elección de dichos usuarios.
El contenido y los comentarios que se comparten a todos los usuarios  no son privados ni confidenciales y el Usuario no debe tener ninguna expectativa de privacidad con respecto a ella. La información que se sube a la aplicación se publicará junto con otra información personal. Por lo tanto, se debe tener precaución y sentido común al compartir la misma. 
Usted puede decidir si desea o no subir comentarios a la aplicación. Sin embargo, cualquier comentario que envíe para su publicación, puede ser visto por todos los usuarios de los servicios y por GoBus.
En cualquier caso (pero excepto como se detalla más adelante con respecto a la información compartida desde su red social la cual se apega a la configuración de privacidad para estas cuentas de redes sociales), solamente su nombre de usuario o su perfil de Facebook serán visibles para los demás usuarios. 
GoBus tiene basto interés en  ofrecer la mejor experiencia  al utilizar la aplicación móvil. Sin embargo, no tiene control sobre la conducta de cualquier usuario y se exime de toda responsabilidad al respecto. Se aconseja a los usuarios a considerar cuidadosamente y a fondo si desea o no haga pública cualquier información y examinar cuidadosamente todos los datos necesarios relativos a las comunicaciones con otros usuarios antes de cualquier compromiso o la comunicación que se hizo.
Participar en actividades de cualquier usuario como consecuencia, directa o indirectamente, del uso de la aplicación móvil, es bajo su propio riesgo y GoBus no tiene responsabilidad alguna respecto a acuerdos celebrado entre los usuarios mediante el uso de la aplicación. El usuario tiene la responsabilidad única y definitiva en relación con el cumplimiento de todas las leyes, reglamentos o cualquier otra obligación comprendida en las Leyes Vigentes en el país de  México. No aceptamos ninguna responsabilidad por cualquier pérdida, daño, costo o gasto que pueda sufrir o incurrir como resultado de la participación en cualquier actividad o evento iniciado, mantenido o realizado por un usuario o un tercero ni en la conexión a cualquier acuerdo entre los usuarios o terceros, incluyendo cualquier actividad o evento relacionado de alguna manera, directa o indirectamente con el uso de la aplicación.
Por medio de la aplicación móvil el Usuario puede elegir compartir información entre su cuenta y su cuenta de red social (como Facebook o Google+). A través de esta opción, se puede optar por que la información personal y otros contenidos disponibles sobre usted en la aplicación móvil incluyendo su ubicación y la ruta de la información, transmitida y compartida a través de su cuenta de la red social.
Al establecer su cuenta para la integración de redes sociales con la aplicación móvil utilizando su cuenta de red social (como su Facebook o Google+), usted se compromete a compartir información (incluyendo información personal) entre GoBus y las redes sociales mencionadas.
El uso de la información compartida mediante alguna red social se rige por la política de privacidad de esa red social y es responsabilidad de la misma, deslindando a GoBus de cualquier obligación y/o compromiso con el usuario.
Cuando el Usuario se conecta a la cuenta de la red social a través de la aplicación móvil, por primera vez o interactúa con su cuenta de red social, se le pedirá permiso para permitir que GoBus recabe la información personal almacenada en dicha red social misma que será recopilada conforme  el Usuario haya configurado sus permisos de privacidad en las mismas.
De acuerdo con ello solamente recogemos la información que permite la red social compartir con terceros (tales como su nombre, dirección de correo electrónico, lista de amigos, foto de perfil, otra información que ponen a disposición pública a través de la red social es aplicable). Usted entiende que GoBus puede acceder, poner a disposición y almacenar (en su caso y según lo permitido por la red social tercero y autorizado por usted) dicha información de modo que esté disponible a través de su cuenta. Por ejemplo, GoBus puede permitir que comparta su ubicación con sus amigos de Facebook, a través de la Aplicación.
GoBus recopila información sobre el uso de la aplicación como es la frecuencia y el alcance de su uso, la duración de las sesiones, la información sobre el dispositivo en el que ha instalado la aplicación, las rutas frecuentadas, la información que lea, contenido que se utiliza o crea, los anuncios que ve o hace clic en, sus comunicaciones con otros usuarios y terceros, el protocolo de Internet (IP) y el nombre del dominio que servirá para acceder a los servicios, y la ubicación geográfica del sistema informático que se está utilizando para registrarse.
La información personal recabada será resguardada en una base de datos en formato PostgreSQL alojada en un servidor en la nube propiedad de GoBus y a la cual solo él tiene acceso. Los datos personales recolectados se encontrarán protegidos por medidas de seguridad administrativas, técnicas y físicas adecuadas contra el daño, pérdida, alteración, destrucción o uso, acceso o tratamiento no autorizados, de conformidad con lo dispuesto en la LFPDP y la demás legislación aplicable. No obstante lo señalado anteriormente, GoBus no garantiza que terceros no autorizados no puedan tener acceso a los sistemas físicos o lógicos de los Usuarios o del Responsable o en los documentos electrónicos y archivos almacenados en sus sistemas. En consecuencia, GoBus no será en ningún caso responsable de los daños y perjuicios que pudieran derivarse de dicho acceso no autorizado. 
Asimismo hacemos de su conocimiento que GoBus tratará datos personales para otras finalidades consideradas como secundarias las cuales derivan en actividades como enviar notificación de ofertas, avisos y/o mensajes promocionales; comunicaciones con fines de mercadotecnia, publicidad o telemarketing sobre productos y servicios nuevos o existentes ya sean propios o de socios comerciales; realizar encuestas; estadísticas; estudios de mercado, registros sobre hábitos de consumo a través de herramientas de captura automática de datos, intereses y comportamiento; realizar programas de beneficios e incentivos; participar en redes sociales, chats y/o foros de discusión; participar en eventos, trivias, concursos, rifas, juegos y sorteos; evaluar la calidad de los servicios; y en general para cualquier actividad encaminada a promover, mantener, mejorar y evaluar sus productos y servicios. De esta forma GoBus puede permitir, solicitar o contratar otras empresas para llevar a cabo campañas de publicidad mediante la aplicación, siendo que  los anuncios que se vean cuando se acceda a los servicios pueden ser dirigidos sobre la base de información geográfica o contextual que se obtenga del usuario y la  información recibida de terceros asociados así como historial de búsqueda del usuario. Aceptando por medio del uso de la aplicación que podemos proporcionar dicha información y anuncios.  
GoBus puede recabar datos a través de su sitio Web, o mediante el uso de la aplicación  haciendo uso de cookies, web beacons, marcadores web y/o enlaces en los correos electrónicos. Dichas herramientas le permiten recolectar la información que envía la aplicación instalada en su dispositivo móvil a nuestras bases de datos tales como el tipo de navegador que utiliza, el idioma de usuario, los tiempos de acceso, y la dirección IP  que utilizó para acceder a la aplicación.
Uso de Cookies.- El correcto funcionamiento de GoBus requiere de la habilitación de “cookies” en su navegador de Internet y/o dispositivo móvil. Las Cookies, que son estándar en la industria y son utilizados por la mayoría de los sitios Web y aplicaciones, incluyendo los utilizados por el Responsable, pueden facilitar al usuario el acceso continuo y el uso de un sitio. Las "cookies" son pequeños archivos de datos transferidos por el sitio Web al disco duro de su computadora cuando navega por el sitio. En la mayoría de los navegadores y/o dispositivos móviles las cookies se aceptan automáticamente en virtud de su configuración predeterminada, usted puede ajustar las preferencias de su navegador para aceptar o rechazar las cookies. La desactivación de las cookies puede inhabilitar diversas funciones de GoBus que permiten el correcto funcionamiento del mismo o bien limiten la experiencia del usuario evitando la personalización de la aplicación móvil a las necesidades del usuario o evitando que la misma no desarrolle correctamente. En caso de que usted prefiera eliminar las cookies, usted puede eliminar el archivo al final cada vez que utilice la aplicación.
Uso de Web beacons.- También conocidos como etiquetas de Internet, etiquetas de píxel y clear GIFs. GoBus puede utilizar en su aplicación móvil, sitios web y en sus correos electrónicos con formato HTML los Web beacons, solos o en combinación con las cookies, para recopilar información sobre el uso de la aplicación móvil, los sitios web y su interacción con el correo electrónico. El Web beacon es una imagen electrónica, llamada de un solo píxel (1x1) o GIF que puede reconocer información que es procesada en su computadora, como el caso de las cookies, la hora y fecha en que la aplicación, su sitio web y/o sus secciones son visualizados.
Su información puede ser compartida con proveedores, socios y empleados directos de GoBus, estando estos sujetos obligados todo el tiempo a proteger los mismos en base a este Aviso de privacidad. Su información personal puede remitirse, almacenarse y procesarse en un país distinto de donde se proporcionó, lo cual se llevará a cabo de conformidad con las leyes de protección de datos aplicables. Tomamos medidas para proteger la información personal sin importar el país donde se almacena o a donde se remite. Tenemos procedimientos y controles oportunos para procurar esta protección. GoBus no requiere el consentimiento del Ususario para realizar transferencias de datos personales nacionales o internacionales en los casos previstos en el Artículo 37 de la LFPDP o en cualquier otro caso de excepción previsto por la misma u otra legislación aplicable.
El Responsable y/o sus Encargados conservarán los datos personales del Usuario durante el tiempo que sea necesario para procesar sus solicitudes de información, productos y/o servicios, así como para mantener los registros contables, financieros y de auditoria en términos de la LFPDP y de la legislación mercantil, fiscal y administrativa vigente.
Puede oponerse al tratamiento de sus datos para las finalidades secundarias a través de los medios puestos a su disposición para el ejercicio de sus derechos ARCO. El Usuario tiene, en todo momento, derecho de acceder, rectificar y cancelar sus datos, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que haya proporcionado presentando una solicitud en el formato que para tal fin le entregaremos a petición expresa, misma que debe contener la información y documentación siguiente:
i.	Nombre del Usuario y domicilio u otro medio para comunicarle la respuesta a su solicitud;
ii.	Los documentos vigentes que acrediten su identidad (copia simple en formato impreso o electrónico de su credencial de elector, pasaporte o Visa) o, en su caso, la representación legal del Usuario (copia simple en formato impreso o electrónico de la carta poder simple con firma autógrafa del Titular, el mandatario y sus correspondientes identificaciones oficiales vigentes – credencial de elector, pasaporte o Visa);
iii.	La descripción clara y precisa de los datos respecto de los que busca ejercer alguno de los Derechos ARCO, y
iv.	Cualquier otro elemento o documento que facilite la localización de los datos personales del Titular.
En el caso de las solicitudes de rectificación de datos personales, el Usuario deberá también indicar las modificaciones a realizarse y aportar la documentación que sustente su petición.
Para dar cumplimiento a la obligación de acceso a sus datos personales, se hará previa acreditación de la identidad del titular o personalidad del representante; poniendo la información a disposición de GoBus. Se podrá acordar otro medio entre el Usuario y GoBus siempre que la información solicitada así lo permita.
Para la petición del formato, recepción y respuesta de las solicitudes para ejercer sus derechos ARCO, la revocación de su consentimiento y los demás derechos previstos en la LFPDP ponemos a su disposición los siguientes medios:
Oficinas de INOVAP Tecnología e Innovación de Sistemas  S.A.P.I. de C.V. (GoBus):
Responsable Directo: José Alberto Aguilera Estrella
Correo Electrónico: contactogobus@gmail.com
Domicilio: Calle 8 Número 205 entre 25 y 27 Colonia Leandro Valle, Mérida, Yucatán, 
Código Postal: 97143

En caso de que la información proporcionada en su solicitud sea errónea o insuficiente, o bien, no se acompañen los documentos de acreditación correspondientes, podremos solicitarle, dentro de los cinco días hábiles siguientes a la recepción de la solicitud, que aporte los elementos o documentos necesarios para dar trámite a la misma. El Usuario contará con diez días hábiles para atender el requerimiento, contados a partir del día siguiente en que lo haya recibido. De no dar respuesta en dicho plazo, se tendrá por no presentada la solicitud correspondiente.
GoBus responderá al Usuario en un plazo máximo de veinte días hábiles, contados desde la fecha en que se recibió la solicitud a efecto de que, si resulta procedente, haga efectiva la misma dentro de los quince días hábiles siguientes a que se comunique la respuesta. En todos los casos, la respuesta se dará por la misma vía por la que haya presentado su solicitud o en su caso por cualquier otro medio acordado con el Usuario. Los plazos antes referidos podrán ser ampliados en términos de la LFPDP.
Usted o su representante legal debidamente acreditado podrán limitar el uso o divulgación de sus datos personales a través de los mismos medios y procedimientos dispuestos para el ejercicio de los Derechos ARCO. Si su solicitud resulta procedente, será registrado en el listado de exclusión dispuesto por GoBus para dejar de recibir información relativa a campañas publicitarias o de mercadotecnia.
Asimismo, le asiste el derecho de inscribirse en el Registro Público para Evitar Publicidad (REPEP) de la PROFECO  http://repep.profeco.gob.mx. 
En caso de que usted considere que GoBus ha vulnerado su derecho a la protección de sus datos personales, puede acudir al Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (“INAI”).
GoBus se reserva el derecho de actualizar periódicamente el presente Aviso para reflejar los cambios en sus políticas de uso de información. Es responsabilidad del Usuario revisar el contenido del Aviso al realizarse actualizaciones de software de la aplicación o solicitándolo al correo electrónico contactogobus@gmail.com. GoBus entenderá que de no expresar lo contrario, significa que el Usuario ha leído, entendido y acordado los términos ahí expuestos, lo que constituye su consentimiento a los cambios y/o actualizaciones respecto al tratamiento de sus datos personales.</small>

            <p><strong>Derechos reservados</strong></p>
            <small>GoBus es una aplicación móvil ideada, desarrollada y administrada por la empresa INOVAP Tecnología e Innovación de Sistemas  S.A.P.I. de C.V. Todos los contenidos de la aplicación así como de su página web, redes sociales y publicidad (Incluyendo de manera enumerativa mas no limitativa texto, logotipos, contenido, fotografías, audio, botones, nombres comerciales y vídeo así la expresión original del software y/o programa de cómputo en cualquier forma, lenguaje o código, conjunto de instrucciones, secuencia, estructura y organización, extendiéndose tanto a los programas operativos como a los programas aplicativos, ya sea en forma de código fuente o de código objeto) están sujetos a derechos de propiedad que concede la Ley Federal de Derechos de Autor y demás Leyes relativas Internacionales y son propiedad exclusiva de la empresa INOVAP Tecnología e Innovación de Sistemas  S.A.P.I. de C.V.
Bajo ninguna circunstancia debe de interpretarse que se concede licencia alguna o se efectúa renuncia, transmisión, cesión total o parcial de dichos derechos ni se confiere ningún derecho, y en especial, de alteración, explotación, reproducción, distribución o comunicación pública sobre dichos contenido por el solo uso de la aplicación y sin la previa autorización expresa de INOVAP Tecnología e Innovación de Sistemas  S.A.P.I. de C.V.
El uso de imágenes, fragmentos de videos, código, desarrollo de software, y demás material que sea objeto de protección de los derechos de autor, será exclusivamente para fines informativos siendo necesario el reconocimiento de la legítima propiedad y autoría a INOVAP Tecnología e Innovación de Sistemas  S.A.P.I. de C.V. 
Queda estrictamente prohibido: I. La reproducción permanente o provisional del programa en todo o en parte, por cualquier medio y forma; II. La traducción, la adaptación, el arreglo o cualquier otra modificación de un programa y la reproducción del programa resultante; III. Cualquier forma de distribución del programa o de una copia del mismo, incluido el alquiler, y IV. la compilación, y realización de procesos para revertir la ingeniería del programa de computación (software) y el desensamblaje o modificación de su código fuente.
Cualquier uso distinto a los fines concedidos por el propietario de los Derechos de Autor como el lucro, reproducción, edición o modificación, será perseguido y sancionado por INOVAP Tecnología e Innovación de Sistemas  S.A.P.I. de C.V. ante las Autoridades competentes.
GoBus e INOVAP Tecnología e Innovación de Sistemas  S.A.P.I. de C.V.  respeta los derechos de propiedad intelectual de otros y pide a los usuarios de sus servicios hacer lo mismo. En caso de que usted considere que cierto contenido que aparece en los mapas interactivos de GoBus o en su diseño e imagen, infringe los derechos autorales que usted posee o representa, favor de contactarnos mediante el correo contactogobus@gmail.com a fin de que gestionemos la baja del mismo de nuestra aplicación previa comprobación del interés legítimo que usted ostenta.</small>
        </script>
        <button class="button-non-border button button-block button-assertive" style="padding:0px;font-size:x-large;" ng-click="registerUser();">Registrarme</button>
    </ion-content>
</ion-view>