<ion-view class="left content-page" enable-menu-with-back-views="true">

    <ion-nav-bar class="bar-red">
        <ion-nav-buttons side="left">
            <button class="button button-menu button-icon ion ion-android-arrow-back" ng-click="returnLogin();"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

    <ion-content class="padding content-default">
       
    
        <div  style="text-align:center;">

                <!--img ng-src="img/inovapLogoBYN.png" class="watermark" /-->
        </div>

        
        <div class="list" style="padding-top: 40%; margin-bottom: 10%;">
            <label class="item item-input item-clear">
                <input type="text" class="input-clear"  placeholder="INGRESA TU CORREO" name="userName" ng-model="user.userName" required></input>
            </label>
        </div>

           
        <!--button class="button-non-border button button-block button-assertive" style="padding:0px; border-radius: 30px; background: linear-gradient(135deg, #49aad0 10%,#740ae8 140%)" ng-click="resetPass();">Restablecer contraseña</button-->
        <button class="button-non-border button button-block button-assertive" style="padding:0px;font-size:x-large;" ng-click="resetPass();">Recuperar contraseña</button>
    </ion-content>
</ion-view>