<ion-view view-title="Rutas Cercanas" class="center content-page">
    <ion-content class="results-container" overflow-scroll="false" scroll="false">

        <div class="direction-origin">
            <div class="item item-avatar">
                <img ng-src="img/icons/shared-routes/icono_verde_ubicacion.png" style="max-height:50px!important;border-radius: 0%!important;">
                <h2>{{locationAddress.colonia}}</h2>
                <p>{{locationAddress.address}}</p>
            </div>
        </div>
        
        <ion-list class="list list-routes-closed" >
        <ion-content overflow-scroll="false" has-bouncing="true">
            <ion-item class="item item-avatar" ng-repeat="result in results" ng-click="viewRoute(result)" href="javascript:void()">
                <img ng-src="{{getImageStop(result.url)}}">
                <h2>{{result.nom_ruta}}</h2>
                <p>{{result.calle_paradero}}</p>
            </ion-item>
         </ion-content>   
        </ion-list>
        
    </ion-content>
</ion-view>