<ion-view view-title="{{route.nom_ruta}}" class="center content-page">
    <ion-content class="content-default" >
        <div class="map-container-routes map-detail-route" data-tap-disabled="true">
            <div class="map" id="map-route"></div>
        </div>

        <div class="padding information-container row">
            <div class="col-90">
                <p style="text-align:center;"><i class="ion ion-clock"></i>&nbsp;Tiempo aprox. entre paraderos<span style="color:red;">&nbsp;{{route.tiempo_entre_rutas}} minutos</span></p>
            </div>
            <div class="col-10">
                <button class="button button-positive button-small bg-rosa" ng-click="getDetail(route)"><i class="ion ion-more"></i></button>
            </div>
        </div>

    </ion-content>
</ion-view>