<ion-view view-title="{{route.calle_paradero}}" class="content-page">
    <ion-content overflow-scroll="false" scroll="false">
        <div class="padding content-bus-stop" ng-style="imageContent" ng-click="openModal()">
        </div>
        <div class="padding section-button">
            <button ng-class="actionDestiny ? 'active' : ''" ng-click="changeView(1)">Destinos</button>
            <button ng-class="actionComments ? 'active' : ''" ng-click="changeView(2)">Comentarios</button>
        </div>

        <script id="image" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar class="bar-red">
                    <h1 class="title" style="color:#FFF;text-algin-center">{{route.nom_ruta}}</h1>
                    <div class="buttons">
                        <button class="button button-clear" ng-click="closeModal()"><i class="ion ion-close-round" style="color:#FFF"></i></button>
                    </div>
                </ion-header-bar>
                <ion-content>
                    <ion-slide-box>
                        <ion-slide ng-repeat="image in images">
                            <ion-scroll style="width:100%;height:100%;" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false" zooming="true" min-zoom="1" direction="xy" locked="false">
                                <div class="image-zoom" style="background-image: url( {{getPathImage(image.url)}} )"></div>
                            </ion-scroll>
                        </ion-slide>
                    </ion-slide-box>
                </ion-content>
            </ion-modal-view>
        </script>

        <div class="padding details-section">
            <ul class="destiny" ng-show="actionDestiny">
                <li ng-repeat="destiny in destinies">
                    <p>{{destiny.destinos}}</p>
                </li>
            </ul>

            <div class="comments" ng-show="actionComments">
                <div class="comments-container">
                    <div class="list">
                        <div ng-repeat="comment in comments" class="item item-avatar item-comment" href="javascript:void(0);">
                            <img ng-if="user_session.id_usuario == comment.id_user" ng-src="{{image_profile}}" style="top:10%;">
                            <img ng-if="user_session.id_usuario != comment.id_user" ng-src="{{getImageComment(comment.img_profile)}}" style="top:10%;">
                            <h2>{{comment.name}}</h2>
                            <h3 style="white-space: normal !important;">{{comment.comment}}</h3>
                            <small>{{comment.date}}</small>
                            <a class="comment-action" ng-click="editComment($event, comment)" ng-if="user_session.id_usuario == comment.id_user"><i class="ion ion-edit"></i></a>
                        </div>
                    </div>
                </div>

                <div class="form-container">
                    <div class="row">
                        <div class="col-90">
                            <input type="text" class="input-clear" id="comment" placeholder="Escribe un comentario" name="comment" ng-model="comment" required>
                        </div>
                        <div class="col-10">
                            <button class="button button-clear" style="color:#8e8e8e;font-size: -webkit-xxx-large;" ng-click="sendComment(comment)"><i class="ion ion-android-send"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script id="templates/menu-comments.html" type="text/ng-template">
            <ion-popover-view class="menu-popover">
                <ion-content>
                    <div class="list">
                        <a class="item" href="javascript:void(0)" ng-click="updateComment(popover.comment)">Editar</a>
                        <a class="item" href="javascript:void(0)" ng-click="deleteComment(popover.comment)">Eliminar</a>
                    </div>
                </ion-content>
            </ion-popover-view>
        </script>

    </ion-content>
</ion-view>