<ion-view view-title="Rutas {{zone.nombre_zona}}" class="center content-page">
    <ion-content overflow-scroll="false"  scroll="false">
        <div class="padding content-legend" style="padding-top: 22px;">
            <div class="banner-name-route">
                <!--<img ng-src="img/icons/label_title.png" class="fullscreen-image" style="width:100%;" />-->
                
                <label ng-style="" style="padding-top: 10px;">{{zone.nombre_zona}}</label>
              
            </div>
        </div>
        <div class="padding list-routes">
            
            <ion-list>
            <ion-content overflow-scroll="false" has-bouncing="true">
                <ion-item ng-repeat="route in routes" class="item-route" ng-click="routeDetail(route)" ng-href="javascript:void()">
                    <i class="ion ion-chevron-right icon-right-routes" ng-click="routeDetail(route)"></i> {{route.nom_ruta}}
                </ion-item>
            </ion-content>
            </ion-list>
            
        </div>
    </ion-content>
</ion-view>