<ion-view view-title="Buscar">
    <ion-content class="padding content-search" >
        <div class="padding">
            <div class="list list-inset list-search">
                <label class="item item-input item-clear">
          <!--<input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off" ng-model="route.search" items-method="getSearch(query)" />-->
          <!--<input type="text" class="input-clear" placeholder="Buscar" ng-model="">
          <a class="icon ion-search placeholder-icon icon-login"></a>-->
        </label>
            </div>
        </div>
    </ion-content>
</ion-view>