<!--ion-view view-title="Inicio" class="center content-page">
    <ion-content class="content-default">
  
  </ion-content>
</ion-view-->
<ion-view view-title="Mis alertas">
  <ion-content class="padding"  style="text-align:center; background-color:#E0204E">
  
  </ion-content>
</ion-view>
