<ion-view view-title="Zonas" class="center content-page">
    <ion-content class="padding content-default">
        <div class="row image-content-banner" style="text-align:center;">
            <div class="col">
                <img ng-src="img/icons/ic_logo_gubus_full.png" class="fullscreen-image login-image-effect" />
            </div>
        </div>
        <div class="padding content-legend" style="padding-top: 22px;">
            <img ng-src="img/icons/label_title.png" class="fullscreen-image image-zones-title" />
            <label class="tooltip-zone" style="line-height: 2 !important; left: 22.5% !important;">ELIGE UNA ZONA</label>
        </div>

        <div class="list">
            <div ng-repeat="zone in zones track by $index" class="item item-avatar item-zone" ng-click="viewRoutes(zone);">
                <img ng-src="{{circleColor(zone)}}" class="circle-zone">
                <small class="text-circle">{{$index+1}}</small>
                <div class="item-section" ng-class="getColor(zone)">
                    <h1 class="text-button">{{zone.nombre_zona}}</h1>
                    <i class="ion ion-chevron-right icon-right" ng-click="viewRoutes({{zone}});"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>