/* AUTOCOMPLETE */

.autocomplete {
    width: 100%;
    position: relative;
}

.autocomplete input {
    font-size: 1.2em;
    width: 100%;
    padding: 0.4em;
}

.autocomplete ul {
    position: absolute;
    left: 0;
    width: 100%;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    z-index: 1;
}

.autocomplete li {
    text-align: left;
    list-style: none;
    width: 100%;
    padding: 0.4em;
    background-color: #fff;
    color: #000;
}

.autocomplete li.active {
    width: 100%;
    background-color: #4bf;
    color: #000;
}

.autocomplete .highlight {
    background-color: #E2E2E2;
    color: #000;
}

.autocomplete li.active .highlight {
    background: #666;
    color: #000;
}