.menu-item {
    color: #FFF;
    border-color: #404040!important;
}

.profile {
    padding: 0px;
    background-image: url(../img/bg/bg_header_navigation.png);
    height: 200px;
    background-size: cover;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #e93434;
    color: #ffffff;
}

.profile-image {
    margin-top: 15%;
}

.menu-item a {
    background-color: #404040!important;
}

.map-container-routes,
.map-container-routes .map {
    height: 100%;
}

#btn-search-routes-close {
    width: 40px;
    height: 40px;
}

#btn-shared-routes {
    width: 200px;
    height: 70px;
    background: rgba(255, 255, 255, 0);
    border: 0px;
}

.leaflet-bottom.leaflet-right {
    margin: 0px!important;
}

.leaflet-bottom.leaflet-right div.easy-button-container {
    border: 0px solid rgba(255, 255, 255, 0)!important;
    margin: 0px!important;
}

#btn-shared-routes span span {
    height: 100%;
    width: 100%;
    font-size: xx-large;
    padding: 0px;
    position: absolute;
    left: 0px;
}

#btn-search-routes-close {
    width: 100px;
    height: 25px;
    background: blue;
    border: 0px;
    border-color: blue;
    border-radius: 15px;
}

#btn-search-routes-close span span {
    height: 100%;
    width: 100%;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 15%;
    color: #FFF;
}

.btn-menu {
    color: #FFF !important;
}

#btn-search-routes-close {
    width: 150px;
    height: 60px;
    background: rgba(255, 255, 255, 0);
    border: 0px;
}

.leaflet-top.leaflet-right .leaflet-control {
    margin-top: 0px;
}

.image-profile {
    max-height: 54%!important;
    max-width: 38%!important;
}

.item-profile {
    padding-left: 0px;
    height: 60%;
}

.text-profile {
    padding-left: 0px;
    height: 40%;
}