.icon-search {
    background: url(../img/icons/ic_action_search.png);
}

.icon-key {
    background: url(../img/icons/key_white.png);
}

.icon-facebook {
    background: url(../img/icons/ic_fb.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    margin-right: 7%;
    position: absolute;
    margin-top: 5%;
    right: 0;
    top: 0;
    margin-right: 25%;
}

.icon-email {
    background: url(../img/icons/email_white.png);
}

.icon-custom {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 22px;
}

.icon-user-green {
    background: url(../img/icons/shared-routes/usuario_verde.png);
}

.icon-user-red {
    background: url(../img/icons/shared-routes/usuario_rojo.png);
}

.icon-shared-routes {
    background: url(../img/icons/shared-routes/detener_ubicacion_icono.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-not-shared-routes {
    background: url(../img/icons/shared-routes/compartir_ubicacion_rojo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-point-route {
    background: url(../img/icons/ruta-punto.png);
    background-size: contain;
    background-repeat: no-repeat;
}