.image-content-banner {
    height: 20%;
}

.image-content-banner,
.image-content-banner .col {
    padding: 0px!important;
}

.login-image-effect {
    left: 35%;
    height: 20%;
    position: absolute;
}

.container-login {
    padding-bottom: 0%!important;
    border-radius: 10px!important;
    margin-bottom: 0px;
}

.icon-login {
    font-size: xx-large;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + .checkbox_ {
    cursor: pointer;
}

input[type="checkbox"]:checked + .checkbox_ i {
    background: url(../img/icons/checked_icon.png) left top no-repeat;
    background-size: 25px;
}

input[type="checkbox"] + .checkbox_ i {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/icons/non_checked_icon.png) left top no-repeat;
    cursor: pointer;
    vertical-align: middle;
    margin: -1px 4px 0 0;
    background-size: 25px;
}

.container-buttons {
    margin-bottom: 0px;
}