.profile-img div img {
    width: 100%;
    max-height: 170px;
    border-radius: 50%;
}

.edit-image-profile {
    padding: 0px!important;
    margin: 0px!important;
}

.container-button-edit-image-profile,
.container-button-edit-image-profile .col {
    padding: 0px;
}

.edit-image-profile i {
    color: #000!important;
    font-size: large;
}

.form-edit-profile {
    margin: 0px!important;
}