.content-bus-stop {
    padding: 0px;
    height: 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bus-stop-label {
    padding: 0px;
    height: 10%;
    background-image: url(../img/bg/bg_header_2.png);
}

.bus-stop-label p {
    color: #000;
    text-align: center;
    margin: 0px;
    font-size: large;
}

.section-button {
    height: 10%;
    padding: 0px;
}

.details-section {
    height: 55%;
    padding: 0px;
}

.destiny {
    height: 100%;
    list-style: initial;
    overflow: scroll;
    padding-left: 14%;
    padding-top: 8%;
    font-size: larger;
    font-weight: 500;
}

.destiny li {
    list-style-type: disc;
    font-size: large;
}

.details-section .comments {
    height: 100%;
}

.section-button button {
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 50%;
    float: left;
    background-color: #2d9000;
    color: #FFF;
    font-size: large;
    font-weight: bold;
    border-color: rgba(12, 93, 35, 0);
}

.section-button button.activated {
    background-color: #2d9000;
    border-color: rgba(12, 93, 35, 0);
}

.section-button button.active {
    background-color: #0c5d23;
}

.details-section .comments .comments-container {
    height: 80%;
    overflow: scroll;
}

.details-section .comments .form-container {
    height: 20%;
}

.platform-android .popover-backdrop,
.platform-android .popover-backdrop.active {
    background-color: rgba(0, 0, 0, 0.51);
}

.menu-popover {
    height: 17%;
}

.comment-action {
    color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: x-large;
}

.button-comment-action i {
    color: #FFF;
}

.scrollCanvas {
    width: 100%;
    height: 100%;
}

.image-zoom {
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}