.content-legend {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    height: 15%;
}

.content-legend label {
    color: #FFF;
    font-size: xx-large;
    /*line-height: 2 !important;*/
}

.list-routes {
    height: 85%;
}

.list-routes ion-list div.list {
    height: 100%;
    overflow: scroll;
}

.icon-right-routes {
    position: absolute;
    right: 20px;
    top: 40%;
}

.item-route {
    border: 0px;
    background-color: rgb(131, 166, 26);
    color: #FFF!important;
    font-size: large;
    margin-bottom: 5%;
    height: 15%;
}

.item-route a {
    background-color: rgb(131, 166, 26)!important;
    height: 100%!important;
    line-height: 45px!important;
}

.item-route:active,
.item-route a:active {
    background-color: rgb(92, 117, 16)!important;
    /*height: 100%!important;*/
}

.banner-name-route {
    width: 70%;
    margin-left: 14%;
    background-image: url(../img/icons/label_title.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;

}