.route-information {
    padding: 0px;
    background-image: url(../img/bg/bg_header_2.png);
}

.information {
    padding-bottom: 0px;
}

.information h4 {
    margin-bottom: 0px;
    color: #FFF;
}

.information button {
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 50%;
    background-color: #448bca;
    color: #FFF;
}

.information button.activated {
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 50%;
    background-color: #366b9a;
    color: #FFF;
}

.route-information {
    text-align: center;
}

.map-container {
    height: 420px;
}

.map {
    height: 100%;
    width: 100%;
}

.information-container {
    height: 10%;
}

.map-detail-route {
    height: 90%!important;
}

.stop-bus-on-active,
.stop-bus-on-active span,
.stop-bus-off-active span,
.stop-bus-off-active {
    padding: 0px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
}

.stop-bus-on-active>img,
.stop-bus-off-active>img {
    width: 45px;
    height: 45px;
}

.bg-rosa {
    background-color: #E0204E!important;
    color: #FFF;
}