.content-page {
    height: 100%;
}

.promoGrande {
    max-width: 100%;
    height: auto;
    margin-top: 0%;
}

.promoChico {
    max-width: 100%;
    height: auto;
    margin-top: 0%;
}

.filter-content {
    background-color: #FFF!important;
}

.content-page div.scroll {
    height: 100%;
}

.content-default {
    background-image: url(../img/bg/bg_home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.content-search {
    background-image: url(../img/bg/bg_search.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bar.bar-red {
    background-color: #E0204E!important;
    border-color: #E0204E!important;
}

.button-menu,
.button-menu:hover {
    color: #FFF!important;
}

.button-non-border {
    border-radius: 0px;
    font-size: large;
    height: 60px;
}

.nav-bar-block,
.bar {
    color: #FFF !important;
    font-weight: bold;
}

.button-social-facebook {
    background-color: #3b5998;
    color: #FFF;
    border-radius: 10px!important;
    padding-left: 10%;
    padding-right: 10%;
    height: 60px;
}

.button-social-facebook span {
    font-size: large;
}

.button-register {
    background-color: rgba(64, 61, 61, 0.3);
}

.item-clear {
    border: 0px!important;
    margin-right: 6%!important;
    margin-left: 3%!important;
    border-bottom-right-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}

.item.item-input.item-clear {
    border-bottom: 1px solid #DDDDD7 !important;
    background-color: rgba(255, 255, 255, 0);
    ;
    width: 95%!important;
}

.input-clear {
    border-bottom: 2px solid grey!important;
    margin-bottom: 3%!important;
    width: 100%!important;
    padding: 0%!important;
    margin-right: 6%!important;
    height: 45px!important;
    font-size: 18px!important;
}

.input-clear:focus {
    border-bottom: 2px solid red!important;
}

.bar .title {
    text-align: center!important;
}

.message-prox {
    color: red;
    font-weight: bold;
    font-size: large;
}

.menu {
    background-color: #404040;
}

.back-button-header {
    color: #FFF!important;
}

.routes-filter {
    height: 100%;
    padding: 0px;
}

.routes-filter .col {
    padding: 0px;
}

.list-routes-filter,
.list-routes-filter .list {
    padding: 0px;
    margin: 0px;
}

.list-routes-filter .list,
{
    height: 100%;
    overflow: scroll;
}

.list-routes-filter.list-inset,
{
    margin: 0px!important;
}

.routes-filter div.col,
{
    border: 1px solid #000;
    border-radius: 5px;
}

.leaflet-touch .leaflet-bar button {
    padding: 0px!important;
}

.direction-origin {
    height: 15%;
    width: 100%;

}

.direction-origin div.item.item-avatar {
    height: 100%;
    background-color: #f3f3f3;
    /*border-bottom: 3px solid #bbbbbb;*/
    box-shadow: 0px 1px 20px 0px;
}

.button.button-menu.button-icon.icon.ion-navicon {
    color: #FFF;
}

.list-routes-closed,
.list-routes-closed .list {
    height: 85%;
    overflow: scroll;
}

.ranking {
    height: 85%;
    overflow: scroll;
}

.ranking .col {
    height: 100%;
}

.ranking .col ion-list div {
    overflow: scroll;
    height: 100%;
}

.position {
    height: 15%;
}

.currentPosition {
    position: absolute!important;
    right: 22px!important;
    top: 26px!important;
    font-size: 20pt!important;
    font-weight: bold!important;
}

.content-ranking {
    background-image: url(../img/icons/ranking/background.png)!important;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-ranking,
.item-ranking a {
    background-color: rgba(255, 255, 255, 0.7)!important;
}

.item-ranking a h2 {
    font-size: 25px;
}

.bold-element {
    font-weight: bold!important;
}

.item-current-position a img {
    right: 16px !important;
    left: initial!important;
}

.profile-image-ranking {
    position: absolute;
    bottom: -15px;
    left: -15px;
    max-width: 100px;
    max-height: 100px;
    z-index: 999;
    width: 100px;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;
}

.circular {
    z-index: 999;
    position: absolute;
    bottom: -25px;
    left: -25px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.circular img,
.circular-profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.circular-profile {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    right: 30px!important;
}

.decena {
    font-size: 20px!important;
}

.centena {
    font-size: 18px!important;
}

.millar {
    font-size: 14px!important;
}

.current-position {
    position: absolute;
    bottom: -4%;
    text-align: center;
}

@media (max-width:320px) {
    .currentPosition {
        right: 7%!important;
    }
    .currentPosition.centena {
        right: 7%!important;
    }
    .decena {
        font-size: 18px!important;
    }
    .centena {
        font-size: 16px!important;
    }
    .millar {
        font-size: 12px!important;
    }
}

@media (min-width:321px) and (max-width:375px) {
    .currentPosition {
        right: 10%!important;
    }
    .currentPosition.decena {
        right: 6%!important;
    }
    .currentPosition.centena {
        right: 5%!important;
    }
    .currentPosition.millar {
        right: 6%!important;
    }
    .decena {
        font-size: 17px!important;
    }
    .centena {
        font-size: 15px!important;
    }
    .millar {
        font-size: 11px!important;
    }
}

@media (min-width:376px) and (max-width:414px) {}

@media (min-width:415px) and (max-width:768px) {
    .current-position {
        bottom: 0;
    }
    .circular {
        width: 160px;
        height: 160px;
    }
}