.item-zone {
    background-color: rgba(255, 255, 255, 0);
    border: 0px!important;
    padding: 0px 0px 0px 72px;
    min-height: 100%;
    margin-bottom: 2%;
}

.item-zone img.circle-zone {
    max-width: 80px;
    max-height: 80px;
    width: 60px;
    height: 60px;
    top: 0px;
}

.image-zones-title {
    width: 80%;
}

.item-orange {
    background: url(../img/icons/ic_button_orange.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.item-red {
    background: url(../img/icons/ic_button_red.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.item-green {
    background: url(../img/icons/ic_button_green.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.item-green-black {
    background: url(../img/icons/ic_button_green_black.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.item-blue {
    background: url(../img/icons/ic_button_blue.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.item-pink {
    background: url(../img/icons/ic_button_pink.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.image-text {
    width: 90%!important;
    margin-left: 4%;
}

.banner-content-image {
    padding: 0px;
    text-align: center;
}

.tooltip-zone {
    position: absolute!important;
    color: #FFF!important;
    font-size: x-large!important;
    top: 24%!important;
    left: 20%!important;
}

@media (max-width:320px) {
    .item-section {
        width: 100%;
        height: 60px;
    }
    .text-button {
        font-size: larger;
        position: absolute;
        left: 100px;
        top: 12px;
        color: #FFF;
    }
    .text-circle {
        left: 35px;
        position: absolute;
        top: 15px;
        color: #FFF;
        font-size: larger;
    }
    .icon-right {
        position: absolute;
        top: 11px;
        left: 260px;
        color: #FFF;
    }
    .item-zone img.circle-zone {
        width: 50px;
        height: 50px;
    }
}

@media (min-width:321px) and (max-width:375px) {
    .item-section {
        width: 100%;
        height: 59px;
    }
    .text-button {
        font-size: larger;
        position: absolute;
        left: 105px;
        top: 19px;
        color: #FFF;
    }
    .text-circle {
        left: 12%;
        position: absolute;
        top: 37%;
        color: #FFF;
        font-size: larger;
    }
    .icon-right {
        position: absolute;
        top: 22px;
        right: 6%;
        color: #FFF;
    }
}

@media (min-width:376px) and (max-width:414px) {
    .item-section {
        width: 100%;
        height: 68px;
    }
    .text-button {
        font-size: larger;
        position: absolute;
        left: 110px;
        top: 22px;
        color: #FFF;
    }
    .text-circle {
        left: 40px;
        position: absolute;
        top: 20px;
        color: #FFF;
        font-size: larger;
    }
    .icon-right {
        position: absolute;
        top: 22px;
        left: 325px;
        color: #FFF;
    }
}

@media (min-width:415px) and (max-width:768px) {
    .item-section {
        width: 100%;
        height: 68px;
    }
    .text-button {
        font-size: larger;
        position: absolute;
        left: 110px;
        top: 22px;
        color: #FFF;
    }
    .text-circle {
        left: 40px;
        position: absolute;
        top: 20px;
        color: #FFF;
        font-size: larger;
    }
    .icon-right {
        position: absolute;
        top: 22px;
        left: 325px;
        color: #FFF;
    }
    .image-zones-title {
        width: auto!important;
    }
    .text-button {
        font-size: 30px;
        left: 180px;
        top: 30px;
    }
    .icon-right {
        top: 30px;
        right: 100px;
        font-size: 30px;
        left: auto;
    }
    .item-zone {
        width: 90%;
        margin-left: 5%
    }
    .item-zone img.circle-zone {
        max-width: 120px;
        max-height: 120px;
        width: 100px;
        height: 100px;
        top: 0px;
    }
    div.item-section {
        margin-left: 50px
    }
    .item-section {
        height: 100px;
    }
    .text-circle {
        left: 60px;
        top: 35px;
        font-size: 25px;
    }
    .content-default {
        background-repeat: repeat;
        background-size: contain;
    }
}